
// Timing Functions
mdtiming=cubic-bezier(0.165, 0.840, 0.440, 1.000)

// Whiteframe

mdwfz1()
    box-shadow 0 2px 5px 0 rgba(0,0,0,.26)
mdwfz2()
    box-shadow 0 8px 17px rgba(0,0,0,.2)
mdwfz3()
    box-shadow 0 17px 50px rgba(0,0,0,.19)
mdwfz4()
    box-shadow 0 16px 28px 0 rgba(0,0,0,.22)
mdwfz5()
    box-shadow 0 27px 24px 0 rgba(0,0,0,.2)
